@use '../../global-styles/mixins.scss';

.header-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 80px;
	display: flex;
	background-color: #fc0;
	padding: 1rem 5rem;
	justify-content: center;

	@include mixins.desktop-lg {
		justify-content: space-between;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	align-items: center;
	z-index: 2;

	.header-left {
		.header-logo {
			height: 2rem;
			margin: auto;
		}
	}
}
